name: anythingllm

networks:
  anything-llm:
    driver: bridge

services:
  anythingllm:
    container_name: anythingllm
    image: mintplexlabs/anythingllm:latest
    cap_add:
      - SYS_ADMIN
    volumes:
      - anythingllm_storage:/app/server/storage
      - ./hotdir:/app/collector/hotdir
      - ./outputs:/app/collector/outputs
    ports:
      - "${SERVER_PORT:-3001}:3001"
    env_file:
      - .env
    networks:
      - anything-llm
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

volumes:
  anythingllm_storage:
    driver: local
